@model AirTracker.Models.Sensor

@{
    ViewData["Title"] = "Delete Sensor";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <h4>Czy na pewno chcesz usunąć ten sensor?</h4>
    <dl class="row">
        <dt class="col-sm-2">Nazwa</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">OpenAQ Sensor/Location ID</dt>
        <dd class="col-sm-10">@Model.OpenAQSensorId</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
