@{
    ViewData["Title"] = "Brak stacji";
}
<div class="container mt-4">
    <div class="alert alert-warning">
        Nie znaleziono żadnej stacji pomiarowej. <br />
        Aby dodać sensora, przejdź do sekcji <strong>Sensor Management</strong>.
    </div>
</div>
